ePubTranslator:
  deepL:
    apiEndpoint: https://api-free.deepl.com
    apiKey:aab4cc2a-d6a5-4c6e-b351-87dd6fdf22ad:fx
  language:
    source: en        # default source language
    destination: ja   # default destination language
